COMPOSE_PROJECT_NAME=io-fn-template
SLOT_TASK_HUBNAME=IoFunctionsNotifications
AzureStorage=${STORAGE_CONN_STRING}
DURABLE_FUNCTION_STORAGE_CONNECTION_STRING=${STORAGE_CONN_STRING}
INTERNAL_STORAGE_CONNECTION_STRING=${STORAGE_CONN_STRING}
FUNCTIONS_WORKER_RUNTIME=node
FUNCTIONS_V2_COMPATIBILITY_MODE=true

COSMOSDB_PORT=3000
API_GATEWAY_PORT=80

APPINSIGHTS_INSTRUMENTATIONKEY=IDoNotKnow
APPINSIGHTS_SAMPLING_PERCENTAGE=20

STORAGE_CONN_STRING=<Set Conn String>

AzureWebJobsStorage=${STORAGE_CONN_STRING}

RETRY_ATTEMPT_NUMBER=10

NOTIFICATIONS_QUEUE_NAME=push-notifications
NOTIFICATIONS_STORAGE_CONNECTION_STRING=${STORAGE_CONN_STRING}

# ------------------------------------
# Notification Hub Variables
# ------------------------------------

AZURE_NH_HUB_NAME=io-notification-hub-mock
AZURE_NH_ENDPOINT=Endpoint=sb://host.docker.internal:30000;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=foobar

NH1_ENDPOINT=Endpoint=sb://host.docker.internal:30000;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=foobar
NH1_NAME=io-p-ntf-sandbox
NH1_PARTITION_REGEX=^[0-3]
NH2_ENDPOINT=Endpoint=sb://host.docker.internal:30000;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=foobar
NH2_NAME=io-p-ntf-sandbox
NH2_PARTITION_REGEX=^[4-7]
NH3_ENDPOINT=Endpoint=sb://host.docker.internal:30000;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=foobar
NH3_NAME=io-p-ntf-sandbox
NH3_PARTITION_REGEX=^[8-b]
NH4_ENDPOINT=Endpoint=sb://host.docker.internal:30000;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=foobar
NH4_NAME=io-p-ntf-sandbox
NH4_PARTITION_REGEX=^[c-f]

# ------------------------------------
# Variable used during transition to new NH management
# ------------------------------------

# Possible values : "none" | "all" | "beta" | "canary"
NH_PARTITION_FEATURE_FLAG=none

BETA_USERS_STORAGE_CONNECTION_STRING=${STORAGE_CONN_STRING}
BETA_USERS_TABLE_NAME=nhpartitiontestusers
CANARY_USERS_REGEX=^([(0-9)|(a-f)]{63}0)|([(0-9)|(a-f)]{62}[(0-7)]{1}1)$


# ------------------------------------
# Variables useful for testing ad mocking
# ------------------------------------
# needed to connect to cosmosdb server
NODE_TLS_REJECT_UNAUTHORIZED=0
# needed to connect to mock notification hub
AZURE_ENABLE_STRICT_SSL=false
