COMPOSE_PROJECT_NAME=io-fn-messages-cqrs
APPINSIGHTS_INSTRUMENTATIONKEY=<>

QueueStorageConnection=<STORAGE CONNECTION>

FUNCTIONS_WORKER_RUNTIME=node
FUNCTIONS_V2_COMPATIBILITY_MODE=false

COSMOSDB_PORT=<PORT>
COSMOSDB_NAME=<NAME>
COSMOSDB_URI=<URI>

REMOTE_CONTENT_COSMOSDB_URI=<URI>
REMOTE_CONTENT_COSMOSDB_NAME=<NAME>

MESSAGE_CONFIGURATION_CHANGE_FEED_LEASE_PREFIX=cf-prefix
MESSAGE_CONFIGURATION_CHANGE_FEED_START_TIME=0

API_GATEWAY_PORT=80

COM_STORAGE_CONNECTION_STRING=<>

# needed to connect to cosmosdb server
NODE_TLS_REJECT_UNAUTHORIZED=0

APIM_BASE_URL=<>
APIM_SUBSCRIPTION_KEY=<>

KAFKA_SSL_ACTIVE=true

MESSAGE_PAYMENT_UPDATER_FAILURE_QUEUE_NAME=<>
MESSAGE_STATUS_FOR_REMINDER_TOPIC_PRODUCER_CONNECTION_STRING=<>
MESSAGE_CONTENT_STORAGE_CONNECTION=<>

PN_SERVICE_ID=<ID>

LEASE_COLLECTION_PREFIX=0
