* @pagopa/io-communication-backend @lucamancosu @pagopa/io-ecosystem-n-links
/infra/bootstrapper @pagopa/io-communication-backend @lucamancosu @pagopa/engineering-team-devex @pagopa/io-ecosystem-n-links

