* @pagopa/io-communication-backend
/.github @pagopa/io-communication-backend @pagopa/engineering-team-cloud-eng @pagopa/io-communication-backend-ext
/infra @pagopa/io-communication-backend @pagopa/engineering-team-cloud-eng
