* @pagopa/io-communication-backend @lucamancosu
/.github @pagopa/io-communication-backend @pagopa/engineering-team-devex @lucamancosu
/infra @pagopa/io-communication-backend @pagopa/engineering-team-devex @lucamancosu
