APPINSIGHTS_INSTRUMENTATIONKEY=foo
NODE_TLS_REJECT_UNAUTHORIZED=0 

COSMOSDB_URI=https://cosmosdb:3000/
COSMOSDB_NAME=integrationtests

REMOTE_CONTENT_COSMOSDB_URI=https://cosmosdbrc:3000/
REMOTE_CONTENT_COSMOSDB_NAME=cosmosdbrc

MAILHOG_HOSTNAME=mailhog
MAIL_FROM=mail@example.it
MESSAGE_CONTAINER_NAME=msg
NODE_ENV=dev
QueueStorageConnection=foobar
EventsQueueStorageConnection=foobar
REQ_SERVICE_ID=req_id_dev

#-----------------------------------
# Feature Flags For Enabling View
#-----------------------------------
FF_TYPE=none
USE_FALLBACK=false
FF_BETA_TESTERS=
FF_CANARY_USERS_REGEX=

#-------
# REDIS
#-------
REDIS_URL= 
REDIS_PASSWORD=
REDIS_PORT=

