APPINSIGHTS_INSTRUMENTATIONKEY=foo
NODE_TLS_REJECT_UNAUTHORIZED=0 

COSMOSDB_URI=https://cosmosdb:3000/
COSMOSDB_KEY=dummykey
COSMOSDB_NAME=integrationtests

REMOTE_CONTENT_COSMOSDB_URI=https://cosmosdbrc:3000/
REMOTE_CONTENT_COSMOSDB_KEY=dummykey
REMOTE_CONTENT_COSMOSDB_NAME=cosmosdbrc
REMOTE_CONTENT_COSMOSDB_CONNECTION_STRING=AccountEndpoint=https://cosmosdbrc:3000/;AccountKey=dummykey;

MESSAGE_CONFIGURATION_CHANGE_FEED_LEASE_PREFIX=cf-prefix
MESSAGE_CONFIGURATION_CHANGE_FEED_START_TIME=0

MAILHOG_HOSTNAME=mailhog
MAIL_FROM=mail@example.it
MESSAGE_CONTAINER_NAME=msg
NODE_ENV=dev
QueueStorageConnection=foobar
EventsQueueStorageConnection=foobar
REQ_SERVICE_ID=req_id_dev

#-----------------------------------
# Feature Flags For Enabling View
#-----------------------------------
FF_TYPE=none
USE_FALLBACK=false
FF_BETA_TESTERS=
FF_CANARY_USERS_REGEX=

#-------
# REDIS
#-------
REDIS_URL= 
REDIS_PASSWORD=
REDIS_PORT=

