openapi: 3.0.1
info:
  termsOfService: https://termofservice.it
  x-api-id: api-external-mandate-b2b-appio
  title: >-
    Piattaforma Notifiche: API B2B per la creazione di deleghe temporanee da
    AppIO
  x-summary: >-
    Piattaforma Notifiche: API B2B per la creazione di deleghe temporanee da
    AppIO
  version: 1.0.0
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: https://da-definire/
  description: >-
    ## Abstract


    API utilizzate dal backend di AppIO per:
      - creare una delega temporanea in stato PENDING
      - ACCETTARE una delega attraverso la presentazione dei dati presenti sulla CIE del delegante

    La delega temporanea verrà definita come un caso particolare delle deleghe
    “permanenti”

    (sono comunque limitate nel tempo, ma per distinguerla la chiameremo
    <b>permanente</b>)

    comunemente utilizzate in SEND.<br>

    In particolare, la delega temporanea sarà una delega:

    -  con un periodo di validità limitato

    - limitata all’accesso ad una notifica


    La delega temporanea coesisterà con quella permanente. <br>

    I vincoli saranno:

    - una sola delega temporanea per la terna (delegato, delegante, iun) in
    stato <i>Active</i>

    - una sola delega permanente per la coppia (delegato, delegante) valida in
    ogni istante (in stato <i>Active</i> e non ancora scaduta)
servers:
  - url: https://api-io.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api-io.uat.notifichedigitali.it
    description: Ambiente di collaudo
  - url: https://api-io.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://api-io.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: AppIO-PN-Mandate-Create
    description: Mandate Creation
paths:
  /mandate/api/v1/io/mandate:
    post:
      tags:
        - AppIO-PN-Mandate-Create
      summary: Crea una delega temporanea in stato PENDING
      description: >-
        Crea una nuova delega in stato PENDING che in seguito all'accettazione
        può permettere l'accesso temporaneo ad una notifica. Restituisce i dati
        della delega in caso di successo
      operationId: createIOMandate
      parameters:
        - name: x-pagopa-cx-taxid
          in: header
          description: Customer taxId, used in B2B AppIO.
          required: true
          schema:
            type: string
            minLength: 16
            maxLength: 16
            pattern: >-
              ^[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1}
        - $ref: "#/components/parameters/lollipopOriginalUrl"
        - $ref: "#/components/parameters/lollipopOriginalMethod"
        - $ref: "#/components/parameters/lollipopPublicKey"
        - $ref: "#/components/parameters/lollipopAssertionRef"
        - $ref: "#/components/parameters/lollipopAssertionType"
        - $ref: "#/components/parameters/lollipopAuthJwt"
        - $ref: "#/components/parameters/lollipopUserId"
        - $ref: "#/components/parameters/lollipopSignatureInput"
        - $ref: "#/components/parameters/lollipopSignature"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MandateCreationRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MandateCreationResponse"
        "400":
          description: Bad Request - QRCode non trovato o in formato non corretto
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                createMandateInvalidQRError:
                  $ref: "#/components/examples/CreateMandateInvalidQRError"
                createMandateQRNotFoundError:
                  $ref: "#/components/examples/CreateMandateQRNotFoundError"
        "401":
          description: Unauthorized - Token di autenticazione mancante o non valido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthError"
              examples:
                unauthorizedError:
                  $ref: "#/components/examples/UnauthorizedError"
        "403":
          description: Forbidden - Utente non autorizzato
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthError"
              examples:
                forbiddenError:
                  $ref: "#/components/examples/ForbiddenError"
        "409":
          description: >-
            Conflict - Esiste già una delega in stato attiva o pending tra il
            delegante e delegato per lo stesso IUN.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                createMandateConflictError:
                  $ref: "#/components/examples/CreateMandateConflictError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                internalServerError:
                  $ref: "#/components/examples/InternalServerError"
  /mandate/api/v1/io/mandate/{mandateId}/cie/accept:
    patch:
      tags:
        - AppIO-PN-Mandate-Create
      summary: >-
        Accetta la delega fornendo i dati della CIE del delegante. La delega
        passa in stato ACTIVE in caso di successo.
      operationId: acceptIOMandate
      parameters:
        - $ref: "#/paths/~1mandate~1api~1v1~1io~1mandate/post/parameters/0"
        - $ref: "#/components/parameters/lollipopOriginalUrl"
        - $ref: "#/components/parameters/lollipopOriginalMethod"
        - $ref: "#/components/parameters/lollipopPublicKey"
        - $ref: "#/components/parameters/lollipopAssertionRef"
        - $ref: "#/components/parameters/lollipopAssertionType"
        - $ref: "#/components/parameters/lollipopAuthJwt"
        - $ref: "#/components/parameters/lollipopUserId"
        - $ref: "#/components/parameters/lollipopSignatureInput"
        - $ref: "#/components/parameters/lollipopSignature"
        - name: mandateId
          in: path
          required: true
          schema:
            type: string
            maxLength: 36
            pattern: >-
              ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CIEValidationData"
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request - Dati CIE non forniti o in formato non corretto
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                missingCIEValidationDataError:
                  $ref: "#/components/examples/MissingCIEValidationDataError"
                invalidCIEValidationDataError:
                  $ref: "#/components/examples/InvalidCIEValidationDataError"
        "401":
          description: Unauthorized - Token di autenticazione mancante o non valido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthError"
              examples:
                unauthorizedError:
                  $ref: "#/components/examples/UnauthorizedError"
        "403":
          description: Forbidden - Utente non autorizzato
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthError"
              examples:
                forbiddenError:
                  $ref: "#/components/examples/ForbiddenError"
        "422":
          description: Unprocessable Entity - Verifiche CIE/NONCE non riuscite
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                acceptMandateCIEValidationError:
                  $ref: "#/components/examples/AcceptMandateCIEValidationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                internalServerError:
                  $ref: "#/components/examples/InternalServerError"
components:
  parameters:
    lollipopOriginalUrl:
      name: x-pagopa-lollipop-original-url
      in: header
      description: lollipop expected lc original url
      required: false
      schema:
        type: string
    lollipopOriginalMethod:
      name: x-pagopa-lollipop-original-method
      in: header
      description: lollipop expected lc original method
      required: false
      schema:
        type: string
    lollipopPublicKey:
      name: x-pagopa-lollipop-public-key
      in: header
      description: lollipop public key
      required: false
      schema:
        type: string
    lollipopAssertionRef:
      name: x-pagopa-lollipop-assertion-ref
      in: header
      description: lollipop assertion reference
      required: false
      schema:
        type: string
    lollipopAssertionType:
      name: x-pagopa-lollipop-assertion-type
      in: header
      description: lollipop assertion type (SAML)
      required: false
      schema:
        type: string
    lollipopAuthJwt:
      name: x-pagopa-lollipop-auth-jwt
      in: header
      description: lollipop authentication jwt
      required: false
      schema:
        type: string
    lollipopUserId:
      name: x-pagopa-lollipop-user-id
      in: header
      description: lollipop user id
      required: false
      schema:
        type: string
    lollipopSignatureInput:
      name: signature-input
      in: header
      description: lollipop signature input
      required: false
      schema:
        type: string
    lollipopSignature:
      name: signature
      in: header
      description: lollipop signature
      required: false
      schema:
        type: string
  schemas:
    Problem:
      properties:
        type:
          description: URI reference of type definition
          type: string
        status:
          description: >-
            The HTTP status code generated by the origin server for
            this occurrence of the problem.
          type: integer
          format: int32
          example: 503
          maximum: 600
          minimum: 100
          exclusiveMaximum: true
        title:
          description: >-
            A short, summary of the problem type. Written in english
            and readable
          example: Service Unavailable
          maxLength: 64
          pattern: ^[ -~]{0,64}$
          type: string
        detail:
          description: A human readable explanation of the problem.
          example: Request took too long to complete.
          maxLength: 4096
          pattern: ^.{0,4096}$
          type: string
        traceId:
          description: Internal support identifier associated to error
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
        timestamp:
          description: date and time referred to UTC
          example: "2022-07-27T12:22:33.444Z"
          type: string
          format: date-time
        errors:
          type: array
          minItems: 1
          items:
            properties:
              code:
                description: Internal code of the error, in human-readable format
                example: >-
                  PN_PARAMETER_TOO_LONG | PN_PARAMETER_TOO_SHORT |
                  PN_DUPLICATE_ENTRY | etc...
                type: string
              element:
                description: >-
                  Parameter or request body field name for validation
                  error
                example: body.order.item[2].quantity
                type: string
              detail:
                description: >-
                  A human readable explanation specific to this
                  occurrence of the problem.
                example: Parameter not valid
                maxLength: 1024
                type: string
            required:
              - code
      required:
        - status
        - errors
    MandateCreationRequest:
      type: object
      required:
        - aarQrCodeValue
      properties:
        aarQrCodeValue:
          type: string
          description: valore del token QR-Code presente sull'avviso di avvenuta ricezione
          pattern: ^[ -~]*$
          maxLength: 300
    MandateDto:
      type: object
      properties:
        mandateId:
          type: string
          maxLength: 36
          pattern: >-
            ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
          description: Available always, not required on mandate creation.
          nullable: true
        verificationCode:
          type: string
          maxLength: 5
          pattern: ^[0-9]*$
          description: Available only for request where requesting user is the delegator
          nullable: true
        dateTo:
          type: string
          description: ISO 8601 format
    MandateCreationResponse:
      type: object
      required:
        - requestTTL
        - mandate
      properties:
        requestTTL:
          type: integer
          format: int32
        mandate:
          $ref: "#/components/schemas/MandateDto"
    CIEValidationData:
      type: object
      required:
        - signedNonce
        - nisData
        - mrtdData
      properties:
        signedNonce:
          type: string
        nisData:
          $ref: "#/components/schemas/NISData"
        mrtdData:
          $ref: "#/components/schemas/MRTDData"
    NISData:
      type: object
      required:
        - nis
        - pub_key
        - sod
      properties:
        nis:
          type: string
          nullable: false
        pub_key:
          type: string
          nullable: false
        sod:
          type: string
          nullable: false
    MRTDData:
      type: object
      required:
        - dg1
        - dg11
        - sod
      properties:
        dg1:
          type: string
          nullable: false
        dg11:
          type: string
          nullable: false
        sod:
          type: string
          nullable: false
    AuthError:
      type: object
      properties:
        message:
          type: string
          example: Unauthorized
  examples:
    UnauthorizedError:
      summary: Example of a 401 Unauthorized response
      value:
        message: Unauthorized
    ForbiddenError:
      summary: Example of a 403 Forbidden response
      value:
        message: User is not authorized to access this resource with an explicit deny
    CreateMandateInvalidQRError:
      summary: Esempio di risposta 400 in caso di QRCode non valido
      value:
        type: GENERIC_ERROR
        status: 400
        title: Handled error
        detail: See logs for details in PN-MANDATE
        traceId: trace_id:f474bb7c-e0cd-46b0-9ddf-8b0006fd33d4
        timestamp: "2025-09-15T14:49:27.179Z"
        errors:
          - code: PN_MANDATE_AARQRCODE_NOT_VALID
            element: null
            detail: none
    CreateMandateQRNotFoundError:
      summary: Esempio di risposta 400 in caso di QRCode non trovato
      value:
        type: GENERIC_ERROR
        status: 400
        title: Handled error
        detail: See logs for details in PN-MANDATE
        traceId: trace_id:f474bb7c-e0cd-46b0-9ddf-8b0006fd33d4
        timestamp: "2025-09-15T14:49:27.179Z"
        errors:
          - code: PN_MANDATE_QR_TOKEN_NOT_FOUND
            element: null
            detail: none
    CreateMandateConflictError:
      summary: Esempio di risposta 409 in caso di delega già esistente
      value:
        type: GENERIC_ERROR
        status: 409
        title: Handled error
        detail: See logs for details in PN-MANDATE
        traceId: trace_id:de97fe15-f2b9-46c6-a029-1c18c9baec0c
        timestamp: "2025-09-15T14:53:22.304Z"
        errors:
          - code: PN_MANDATE_ALREADYEXISTS
            element: null
            detail: none
    InternalServerError:
      summary: Esempio di risposta 500 in caso di errore generico
      value:
        type: GENERIC_ERROR
        status: 500
        title: Unhandled error
        detail: See logs for details in PN-MANDATE
        traceId: trace_id:f474bb7c-e0cd-46b0-9ddf-8b0006fd33d4
        timestamp: "2025-09-15T14:49:27.179Z"
        errors:
          - code: PN_GENERIC_ERROR
            element: null
            detail: none
    MissingCIEValidationDataError:
      summary: Esempio di risposta 400 in caso di dati CIE mancanti
      value:
        type: GENERIC_ERROR
        status: 400
        title: Handled error
        detail: See logs for details in PN-MANDATE
        traceId: trace_id:f474bb7c-e0cd-46b0-9ddf-8b0006fd33d4
        timestamp: "2025-09-15T14:49:27.179Z"
        errors:
          - code: PN_GENERIC_INVALIDPARAMETER
            element: nisData.nis
            detail: must not be null
    InvalidCIEValidationDataError:
      summary: Esempio di risposta 400 in caso di dati CIE non validi
      value:
        type: GENERIC_ERROR
        status: 400
        title: Handled error
        detail: See logs for details in PN-MANDATE
        traceId: trace_id:f474bb7c-e0cd-46b0-9ddf-8b0006fd33d4
        timestamp: "2025-09-15T14:49:27.179Z"
        errors:
          - code: PN_MANDATE_BADREQUEST
            element: null
            detail: "Invalid Base64 encoding in field: nisData.nis"
    AcceptMandateCIEValidationError:
      summary: Esempio di risposta 422 in caso di errore di validazione CIE
      value:
        type: GENERIC_ERROR
        status: 422
        title: Handled error
        detail: See logs for details in PN-MANDATE
        traceId: trace_id:f474bb7c-e0cd-46b0-9ddf-8b0006fd33d4
        timestamp: "2025-09-15T14:49:27.179Z"
        errors:
          - code: PN_MANDATE_CIE_VALIDATION_ERROR
            element: null
            detail: none
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
security:
  - ApiKeyAuth: []
