openapi: 3.0.3
info:
  termsOfService: https://da-definire/
  x-api-id: api-external-b2b-appio
  title: "Piattaforma Notifiche: API B2B per backend AppIO"
  x-summary: "Piattaforma Notifiche: API B2B per backend AppIO"
  description: |-
    ## Abstract
      API utilizzate dal backend di AppIO per recuperare:
      - i dettagli della notifica
      - gli url dei documenti allegati alla notifica
      - gli url degli atti opponibili a terzi
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: https://da-definire/
  version: 17.0.3
servers:
  - url: https://api-io.pn.pagopa.it
    description: Ambiente di produzione
  - url: https://api-io.uat.pn.pagopa.it
    description: Ambiente di test
  - url: https://api-io.dev.pn.pagopa.it
    description: Ambiente di sviluppo
tags:
  - name: AppIO-PN-Notification
    description: Notification details
  - name: AppIO-PN-Documents
    description: Notification Documents
  - name: AppIO-PN-Payments
    description: Notification Payments
paths:
  /delivery/notifications/received/{iun}/attachments/payment/{attachmentName}:
    get:
      summary: Download allegato per pagamento
      tags:
        - AppIO-PN-Payments
      operationId: getReceivedNotificationAttachment
      parameters:
        - $ref: "#/components/parameters/pathIun"
        - $ref: "#/components/parameters/pathAttachmentName"
        - $ref: "#/components/parameters/attachmentIdx"
        - $ref: "#/components/parameters/queryMandateId"
        - $ref: "#/components/parameters/cxTaxIdAuthFleet"
        - $ref: "#/components/parameters/lollipopOriginalUrl"
        - $ref: "#/components/parameters/lollipopOriginalMethod"
        - $ref: "#/components/parameters/lollipopPublicKey"
        - $ref: "#/components/parameters/lollipopAssertionRef"
        - $ref: "#/components/parameters/lollipopAssertionType"
        - $ref: "#/components/parameters/lollipopAuthJwt"
        - $ref: "#/components/parameters/lollipopUserId"
        - $ref: "#/components/parameters/lollipopSignatureInput"
        - $ref: "#/components/parameters/lollipopSignature"
        - $ref: "#/components/parameters/headerIoSource"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationAttachmentDownloadMetadataResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /delivery/notifications/received/{iun}:
    get:
      summary: Accesso notifiche ricevute
      description: >-
        Utilizzato da Persone Fisiche e Persone Giuridiche per accedere ai
        dettagli delle  notifiche ricevute.
      tags:
        - AppIO-PN-Notification
      operationId: getReceivedNotification
      parameters:
        - $ref: "#/components/parameters/pathIun"
        - $ref: "#/components/parameters/queryMandateId"
        - $ref: "#/components/parameters/cxTaxIdAuthFleet"
        - $ref: "#/components/parameters/lollipopOriginalUrl"
        - $ref: "#/components/parameters/lollipopOriginalMethod"
        - $ref: "#/components/parameters/lollipopPublicKey"
        - $ref: "#/components/parameters/lollipopAssertionRef"
        - $ref: "#/components/parameters/lollipopAssertionType"
        - $ref: "#/components/parameters/lollipopAuthJwt"
        - $ref: "#/components/parameters/lollipopUserId"
        - $ref: "#/components/parameters/lollipopSignatureInput"
        - $ref: "#/components/parameters/lollipopSignature"
        - $ref: "#/components/parameters/headerIoSource"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThirdPartyMessage"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /delivery/notifications/received/{iun}/attachments/documents/{docIdx}:
    get:
      summary: Download documento notificato
      tags:
        - AppIO-PN-Documents
      operationId: getReceivedNotificationDocument
      parameters:
        - $ref: "#/components/parameters/pathIun"
        - $ref: "#/components/parameters/pathDocumentIdx"
        - $ref: "#/components/parameters/queryMandateId"
        - $ref: "#/components/parameters/cxTaxIdAuthFleet"
        - $ref: "#/components/parameters/lollipopOriginalUrl"
        - $ref: "#/components/parameters/lollipopOriginalMethod"
        - $ref: "#/components/parameters/lollipopPublicKey"
        - $ref: "#/components/parameters/lollipopAssertionRef"
        - $ref: "#/components/parameters/lollipopAssertionType"
        - $ref: "#/components/parameters/lollipopAuthJwt"
        - $ref: "#/components/parameters/lollipopUserId"
        - $ref: "#/components/parameters/lollipopSignatureInput"
        - $ref: "#/components/parameters/lollipopSignature"
        - $ref: "#/components/parameters/headerIoSource"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationAttachmentDownloadMetadataResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /delivery/notifications/received/check-qr-code:
    post:
      description: Servizio per la verifica accesso tramite aar qr code
      summary: servizio per la verifica del aar-qr-code
      tags:
        - AppIO-PN-Notification
      operationId: checkAarQrCodeIO
      parameters:
        - $ref: "#/components/parameters/cxTaxIdAuthFleet"
        - $ref: "#/components/parameters/lollipopOriginalUrl"
        - $ref: "#/components/parameters/lollipopOriginalMethod"
        - $ref: "#/components/parameters/lollipopPublicKey"
        - $ref: "#/components/parameters/lollipopAssertionRef"
        - $ref: "#/components/parameters/lollipopAssertionType"
        - $ref: "#/components/parameters/lollipopAuthJwt"
        - $ref: "#/components/parameters/lollipopUserId"
        - $ref: "#/components/parameters/lollipopSignatureInput"
        - $ref: "#/components/parameters/lollipopSignature"
        - $ref: "#/components/parameters/headerIoSource"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestCheckQrMandateDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCheckQrMandateDto"
        "400":
          description: QrCode value invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "403":
          description: Mandate not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCheckQrMandateDto"
        "404":
          description: QrCode reference Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
components:
  parameters:
    cxTaxIdAuthFleet:
      name: x-pagopa-cx-taxid
      in: header
      description: Customer taxId, used in B2B AppIO.
      required: true
      schema:
        type: string
        minLength: 16
        maxLength: 16
        pattern: >-
          ^[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1}
    headerIoSource:
      name: x-pagopa-pn-io-src
      in: header
      description: User login source channel details, should be QR_CODE or left empty
      required: false
      schema:
        type: string
    pathIun:
      description: Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
        minLength: 25
        maxLength: 25
        pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$
    pathAttachmentName:
      name: attachmentName
      in: path
      required: true
      schema:
        type: string
        minLength: 3
        maxLength: 6
        pattern: PAGOPA|F24
    attachmentIdx:
      in: query
      name: attachmentIdx
      description: indice del documento di pagamento partendo da 0
      required: false
      schema:
        type: integer
        format: int32
    pathLegalFactType:
      description: Categoria dell'atto opponibile a terzi
      name: legalFactType
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/LegalFactCategory"
    pathLegalFactId:
      description: Identificativo dell'atto opponibile a terzi
      name: legalFactId
      in: path
      required: true
      schema:
        type: string
    pathDocumentIdx:
      name: docIdx
      description: indice del documento nella lista partendo da 0.
      in: path
      required: true
      schema:
        type: integer
        format: int32
    queryMandateId:
      name: mandateId
      description: Identificativo della delega
      in: query
      required: false
      schema:
        type: string
        format: uuid
    lollipopOriginalUrl:
      name: x-pagopa-lollipop-original-url
      in: header
      description: lollipop expected lc original url
      required: false
      schema:
        type: string
    lollipopOriginalMethod:
      name: x-pagopa-lollipop-original-method
      in: header
      description: lollipop expected lc original method
      required: false
      schema:
        type: string
    lollipopPublicKey:
      name: x-pagopa-lollipop-public-key
      in: header
      description: lollipop public key
      required: false
      schema:
        type: string
    lollipopAssertionRef:
      name: x-pagopa-lollipop-assertion-ref
      in: header
      description: lollipop assertion reference
      required: false
      schema:
        type: string
    lollipopAssertionType:
      name: x-pagopa-lollipop-assertion-type
      in: header
      description: lollipop assertion type (SAML)
      required: false
      schema:
        type: string
    lollipopAuthJwt:
      name: x-pagopa-lollipop-auth-jwt
      in: header
      description: lollipop authentication jwt
      required: false
      schema:
        type: string
    lollipopUserId:
      name: x-pagopa-lollipop-user-id
      in: header
      description: lollipop user id
      required: false
      schema:
        type: string
    lollipopSignatureInput:
      name: signature-input
      in: header
      description: lollipop signature input
      required: false
      schema:
        type: string
    lollipopSignature:
      name: signature
      in: header
      description: lollipop signature
      required: false
      schema:
        type: string
  schemas:
    NotificationAttachmentDownloadMetadataResponse:
      title: Url e metadati per il download di un allegato di una notifica
      description: |-
        I due campi più importanti sono __url__ e __retryAfter__. <br/>
          - __url__ è presente se il file è pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file è stato archiviato e bisognerà aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
      type: object
      required:
        - filename
        - contentType
        - contentLength
        - sha256
      properties:
        filename:
          type: string
        contentType:
          type: string
          example: application/pdf
        contentLength:
          type: integer
          format: int32
          example: 54092
          description: dimensione, in byte, del contenuto.
        sha256:
          type: string
          description: SHA256 del contenuto del file.
        url:
          type: string
          description: >-
            URL preautorizzato a cui effettuare una richiesta GET per ottenere
            il contenuto del documento. Presente solo se il documento è pronto
            per il download.
        retryAfter:
          type: integer
          format: int32
          description: >-
            Stima del numero di secondi da aspettare prima che il contenuto del
            documento sia disponibile per il download.
    LegalFactCategory:
      title: Tipi di atti opponibili a terzi
      description: >-
        Tipi di atti opponibili a terzi che Piattaforam Notiiche mette a
        disposizione dei suoi utenti.
          - SENDER_ACK: atto di "presa in carico" di una notifica
          - DIGITAL_DELIVERY: atto di consegna digitale
          - ANALOG_DELIVERY: atto di consegna cartacea
          - RECIPIENT_ACCESS: atto di consegna per avvenuto accesso alla piattaforma
          - PEC_RECEIPT: ricevuta PEC
      type: string
    ThirdPartyMessage:
      type: object
      properties:
        attachments:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 1
              content_type:
                type: string
                minLength: 1
              name:
                type: string
                minLength: 1
              url:
                type: string
                minLength: 1
              category:
                type: string
                enum:
                  - DOCUMENT
                  - F24
            required:
              - id
              - url
              - category
        details:
          description: >-
            Le informazioni riguardanti una richiesta di notifica accettata e il
            processo di inoltro della notifica verso i destinatari (Persone
            Fisiche o Giuridiche).
          type: object
          properties:
            subject:
              type: string
            iun:
              type: string
            recipients:
              type: array
              items:
                description: Informazioni sui destinatari
                required:
                  - denomination
                  - recipientType
                  - taxId
                type: object
                properties:
                  recipientType:
                    type: string
                    description: >
                      Tipologia di destinatario: Persona Fisica (PF) o Persona
                      Giuridica (PG). * `PF` * `PG`
                  taxId:
                    description: C.F. persona fisica o persona giuridica
                    type: string
                    x-field-extra-annotation: "@lombok.ToString.Exclude"
                    minLength: 11
                    maxLength: 16
                    pattern: >-
                      ^([A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1})|([0-9]{11})$
                  denomination:
                    description: >-
                      Denominazione ente o persona fisica / ragione sociale. La
                      codifica prevede i caratteri ISO LATIN 1, senza | e senza
                      i caratteri di controllo, ovvero la seguente regexp: ^[
                      -{}~\u00A0-ÿ]*$
                    type: string
                    x-field-extra-annotation: "@lombok.ToString.Exclude"
                    minLength: 1
                    pattern: ^.*$
                  payment:
                    title: Informazioni per effettuare il pagamento
                    description: >-
                      Informazioni utili per effettuare il pagamento di una
                      notifica, sono associate al destinatario perché le spese
                      di notifica possono differire a seconda del canale di
                      notifica utilizzato. <br/>
                        - _noticeCode_: "codice avviso pagoPA" di pagamento del sistema pagoPA, usato per pagamento online.<br/>
                        - _creditorTaxId_: codice fiscale dell'ente a cui fa riferimento il "codice avviso pagoPA". <br/>
                    type: object
                    required:
                      - noticeCode
                      - creditorTaxId
                    properties:
                      noticeCode:
                        description: Payment notice number  numero avviso
                        example: "302000100000019421"
                        type: string
                        maxLength: 18
                        minLength: 18
                        pattern: '^\d+$'
                      creditorTaxId:
                        description: Payment PA fiscal code
                        example: "77777777777"
                        type: string
                        maxLength: 11
                        minLength: 11
                        pattern: ^\d+$
            notificationStatusHistory:
              description: elenco degli avanzamenti effettuati dal processo di notifica
              type: array
              items:
                description: elenco degli avanzamenti effettuati dal processo di notifica
                type: object
                required:
                  - status
                  - activeFrom
                  - relatedTimelineElements
                properties:
                  status:
                    type: string
                    description: |
                      stato di avanzamento del processo di notifica:
                        * `IN_VALIDATION` - notifica depositata in attesa di validazione
                        * `ACCEPTED` - notifica accettata
                        * `REFUSED` - notifica rifiutata
                        * `DELIVERING` - notifica in spedita
                        * `DELIVERED` - notifica ricevuta da tutti i destinatari
                        * `VIEWED` - notifica presa visione per almeno un destinatario
                        * `EFFECTIVE_DATE` - notifica perfezionata per un destinatario
                        * `PAID` - notifica pagata
                        * `UNREACHABLE` - notifica non recapitabile
                        * `CANCELLED` - notifica annullata dal mittente
                        * `PAID` - [DEPRECATO] Uno dei destinatari ha pagato la notifica
                        * `RETURNED_TO_SENDER` - La notifica è stata restituita al mittente
                  activeFrom:
                    type: string
                    description: data e ora di raggiungimento dello stato di avanzamento
                    format: date-time
                  relatedTimelineElements:
                    type: array
                    description: Eventi avvenuti nello stato
                    items:
                      type: string
            abstract:
              type: string
            senderDenomination:
              type: string
            completedPayments:
              description: elenco dei pagamenti completati
              type: array
              items:
                description: Payment notice number  numero avviso
                example: "302000100000019421"
                type: string
                maxLength: 18
                minLength: 18
                pattern: ^\d+$
            isCancelled:
              type: boolean
              description: indica se la notifica è stata annullata
          required:
            - subject
            - iun
            - recipients
            - notificationStatusHistory
    RequestCheckQrMandateDto:
      description: Le informazioni fornite per verificare l'AAR-QR-CodeValue
      type: object
      required:
        - aarQrCodeValue
      properties:
        aarQrCodeValue:
          type: string
          description: valore del token QR-Code presente sull'avviso di avvenuta ricezione
          pattern: ^[ -~]*$
          maxLength: 300
    ResponseCheckQrMandateDto:
      description: >-
        Le informazioni fornite in risposta alla verifica del AAR-QR-CodeValue
        con possibile identificativo della delega attiva
      type: object
      required:
        - iun
        - recipientInfo
      properties:
        iun:
          description: Identificativo Univoco Notifica
          type: string
          minLength: 25
          maxLength: 25
          pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$
        mandateId:
          description: identificativo della delega
          type: string
        recipientInfo:
          description: Informazioni anagrafiche dell'utente destinatario della notifica
          $ref: "#/components/schemas/UserInfo"
    UserInfo:
      type: object
      properties:
        denomination:
          type: string
          description: Nome + cognome __oppure__ ragione sociale
          example: Nome Cognome
        taxId:
          title: Codice Fiscale
          description: Codice Fiscale
          type: string
          example: CGNNMO01T10A944Q
    Problem:
      properties:
        type:
          description: URI reference of type definition
          type: string
        status:
          description: >-
            The HTTP status code generated by the origin server for this
            occurrence of the problem.
          type: integer
          format: int32
          example: 503
          maximum: 600
          minimum: 100
          exclusiveMaximum: true
        title:
          description: >-
            A short, summary of the problem type. Written in english and
            readable
          example: Service Unavailable
          maxLength: 64
          pattern: ^[ -~]{0,64}$
          type: string
        detail:
          description: A human readable explanation of the problem.
          example: Request took too long to complete.
          maxLength: 4096
          pattern: ^.{0,4096}$
          type: string
        traceId:
          description: Internal support identifier associated to error
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
        timestamp:
          description: date and time referred to UTC
          example: "2022-07-27T12:22:33.444Z"
          type: string
          format: date-time
        errors:
          type: array
          minItems: 1
          items:
            properties:
              code:
                description: Internal code of the error, in human-readable format
                example: >-
                  PN_PARAMETER_TOO_LONG | PN_PARAMETER_TOO_SHORT |
                  PN_DUPLICATE_ENTRY | etc...
                type: string
              element:
                description: Parameter or request body field name for validation error
                example: body.order.item[2].quantity
                type: string
              detail:
                description: >-
                  A human readable explanation specific to this occurrence of
                  the problem.
                example: Parameter not valid
                maxLength: 1024
                type: string
            required:
              - code
      required:
        - status
        - errors
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
security:
  - ApiKeyAuth: []
