{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;",
    "NODE_ENV": "development",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "MESSAGE_CONTENT_STORAGE_URI": "https://testgiovannist.blob.core.windows.net/",
    "MESSAGE_CONTENT_CONTAINER_NAME": "messages",
    "EVENTHUB_CONNECTION_STRING": "Endpoint=sb://eventhubs;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;EntityPath=messages;",
    "MESSAGE_EVENTHUB_NAME": "message-events-test",
    "MESSAGE_STATUS_EVENTHUB_NAME": "message-status-events-test",
    "PDV_TOKENIZER_API_KEY": "PDV-TOKENIZER-API-KEY-HERE",
    "PDV_TOKENIZER_BASE_URL": "https://api.uat.tokenizer.pdv.pagopa.it/tokenizer/v1",
    "REDIS_PASSWORD": "local",
    "REDIS_PING_INTERVAL": 90000,
    "REDIS_URL": "redis://redis:6379",
    "COMMON_COSMOS__accountEndpoint": "https://io-d-itn-common-cosno-01.documents.azure.com:443",
    "COMMON_COSMOS_DBNAME": "io-messages",
    "COMMON_COSMOS_MESSAGES_CONTAINER_NAME": "messages",
    "COMMON_COSMOS_MESSAGE_STATUS_CONTAINER_NAME": "message-status",
    "MESSAGE_ERROR_TABLE_STORAGE_NAME": "MessagesDataplanIngestionErrors",
    "MESSAGE_STATUS_ERROR_TABLE_STORAGE_NAME": "MessageStatusDataplanIngestionErrors",
    "ACCOUNT_STORAGE__tableServiceUri": "https://testgiovannist.table.core.windows.net/",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "APPLICATIONINSIGHTS-CONNECTION-STRING-HERE",
    "IOCOM_COSMOS__accountEndpoint": "https://io-d-itn-common-cosno-01.documents.azure.com:443",
    "IOCOM_COSMOS_EVENTS_COLLECTOR_DBNAME": "io-messages",
    "IOCOM_COSMOS_INGESTION_SUMMARY_COLLECTION_NAME": "message-ingestion-summary"
  }
}
