APPLICATIONINSIGHTS_CONNECTION_STRING=foo

COSMOSDB_URI=https://cosmosdb:3000/
COSMOSDB_NAME=integrationtests

REMOTE_CONTENT_COSMOSDB_URI=https://cosmosdb:3000/
REMOTE_CONTENT_COSMOSDB_NAME=cosmosdbrc

MAILHOG_HOSTNAME=mailhog
MAIL_FROM=mail@example.it
MESSAGE_CONTAINER_NAME=msg
NODE_ENV=dev

#-------
# REDIS
#-------
REDIS_URL=
REDIS_PASSWORD=
REDIS_PORT=

