{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "InstrumentationKey=testkey",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "NODE_ENV": "development",
    "RC_CONFIGURATION_CACHE_TTL": "28800",
    "INTERNAL_USER_ID": "local",
    "BACKEND_BASE_URL": "http://localhost:8004/io-backend",
    "BACKEND_TOKEN": "mock-secret",
    "COSMOSDB_URI": "https://io-d-itn-common-cosno-01.documents.azure.com:443/",
    "COSMOSDB_NAME": "io-messages",
    "REMOTE_CONTENT_COSMOSDB_URI": "https://io-d-itn-common-cosno-01.documents.azure.com:443/",
    "REMOTE_CONTENT_COSMOSDB_NAME": "remote-content-cosmos-01",
    "MESSAGE_CONTAINER_NAME": "messages",
    "MESSAGE_CONTENT_STORAGE_CONNECTION_STRING": "UseDevelopmentStorage=true",
    "NOTIFICATION_QUEUE_STORAGE_CONNECTION_STRING": "UseDevelopmentStorage=true",
    "NOTIFICATION_QUEUE_NAME": "push-notifications",
    "REDIS_URL": "localhost",
    "REDIS_PASSWORD": "local",
    "REDIS_PORT": "6379",
    "REDIS_TLS_ENABLED": "false"
  }
}
