HOST="0.0.0.0"
NODE_ENV="development"
PORT=3010
REMOTE_CONTENT_COSMOS_DATABASE_NAME="remote-content"
REMOTE_CONTENT_COSMOS_CONNECTION_STRING="AccountEndpoint=http://localhost:8081/;AccountKey=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw=="
REDIS_URL      = "localhost"
REDIS_PORT     = 6379
REDIS_PASSWORD = "local"
REDIS_TLS_ENABLED=false
APPLICATIONINSIGHTS_CONNECTION_STRING="aValidInstrumentationKey"
