COMPOSE_PROJECT_NAME=io-fn-messages-cqrs
APPINSIGHTS_INSTRUMENTATIONKEY=<>

QueueStorageConnection=<STORAGE CONNECTION>
AzureWebJobsStorage=<STORAGE CONNECTION>

FUNCTIONS_WORKER_RUNTIME=node
FUNCTIONS_V2_COMPATIBILITY_MODE=false

MESSAGE_STATUS_FOR_VIEW_TOPIC_CONSUMER_CONNECTION_STRING=<>
COSMOSDB_PORT=<PORT>
COSMOSDB_KEY=<KEY>
COSMOSDB_NAME=<NAME>
COSMOSDB_URI=<URI>
COSMOSDB_CONNECTION_STRING=<CONNECTION_STRING>

REMOTE_CONTENT_COSMOSDB_URI=<URI>
REMOTE_CONTENT_COSMOSDB_KEY=<KEY>
REMOTE_CONTENT_COSMOSDB_NAME=<NAME>
REMOTE_CONTENT_COSMOSDB_CONNECTION_STRING=<CONNECTION_STRING>

MESSAGE_CONFIGURATION_CHANGE_FEED_LEASE_PREFIX=cf-prefix
MESSAGE_CONFIGURATION_CHANGE_FEED_START_TIME=0

API_GATEWAY_PORT=80

INTERNAL_STORAGE_CONNECTION_STRING=<>

# needed to connect to cosmosdb server
NODE_TLS_REJECT_UNAUTHORIZED=0

APIM_BASE_URL=<>
APIM_SUBSCRIPTION_KEY=<>

MESSAGE_STATUS_FOR_VIEW_BROKERS=<>
MESSAGE_STATUS_FOR_VIEW_TOPIC_CONSUMER_GROUP=<>
MESSAGE_STATUS_FOR_VIEW_TOPIC_NAME=<>
MESSAGE_STATUS_FOR_VIEW_TOPIC_PRODUCER_CONNECTION_STRING=<>
MESSAGE_PAYMENT_UPDATER_FAILURE_QUEUE_NAME=<>
MESSAGE_VIEW_PAYMENT_UPDATE_FAILURE_QUEUE_NAME=<>
MESSAGE_VIEW_UPDATE_FAILURE_QUEUE_NAME=<>
MESSAGE_STATUS_FOR_REMINDER_TOPIC_PRODUCER_CONNECTION_STRING=<>
MESSAGE_CONTENT_STORAGE_CONNECTION=<>

PN_SERVICE_ID=<ID>

LEASE_COLLECTION_PREFIX=0
