{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;",
    "FUNCTIONS_V2_COMPATIBILITY_MODE": false,
    "COMPOSE_PROJECT_NAME": "io-fn-template",
    "SLOT_TASK_HUBNAME": "IoFunctionsNotificationsFF",
    "AzureStorage": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;",
    "DURABLE_FUNCTION_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;",
    "INTERNAL_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;",
    "COSMOSDB_PORT": "3000",
    "API_GATEWAY_PORT": "80",
    "APPINSIGHTS_INSTRUMENTATIONKEY": "IDoNotKnow",
    "APPINSIGHTS_SAMPLING_PERCENTAGE": "20",
    "RETRY_ATTEMPT_NUMBER": "1",
    "NOTIFICATIONS_QUEUE_NAME": "push-notifications",
    "NOTIFICATIONS_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;",
    "NH_PARTITION_FEATURE_FLAG": "all",
    "BETA_USERS_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;",
    "BETA_USERS_TABLE_NAME": "nhpartitiontestusers",
    "CANARY_USERS_REGEX":"^([(0-9)|(a-f)|(A-F)]{63}0)$",
    "AZURE_NH_HUB_NAME": "io-p-ntf-sandbox",
    "AZURE_NH_ENDPOINT": "AzureNotificationHubConnectionString",
    "NH1_ENDPOINT": "NotificationHubPartitionConnectionString",
    "NH1_NAME": "io-p-ntf-sandbox-partition-1",
    "NH1_PARTITION_REGEX":"^[ \"0-3]",
    "NH2_ENDPOINT": "NotificationHubPartitionConnectionString",
    "NH2_NAME": "io-p-ntf-sandbox-partition-1",
    "NH2_PARTITION_REGEX":"^[ \"4-7]",
    "NH3_ENDPOINT": "NotificationHubPartitionConnectionString",
    "NH3_NAME": "io-p-ntf-sandbox-partition-1",
    "NH3_PARTITION_REGEX":"^[ \"8-b]",
    "NH4_ENDPOINT": "NotificationHubPartitionConnectionString",
    "NH4_NAME": "io-p-ntf-sandbox-partition-1",
    "NH4_PARTITION_REGEX":"^[ \"c-f]",
    "NOTIFY_VIA_QUEUE_FEATURE_FLAG":"all",
    "NOTIFY_MESSAGE_QUEUE_NAME": "notify-queue-name",
    "NODE_TLS_REJECT_UNAUTHORIZED": "0",
    "AZURE_ENABLE_STRICT_SSL": "false"
  }
}
