{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=iomocktest;AccountKey=KepvkS29W5AwYJcidjVOXocSW8YzTRYEiJmzzTXiUzI5tlFYGpqp3BwMXNP7hN+5hkwOq/6dT3sdLX+i/UAewA==;EndpointSuffix=core.windows.net",
    "FUNCTIONS_V2_COMPATIBILITY_MODE": false,
    "COMPOSE_PROJECT_NAME": "io-fn-template",
    "SLOT_TASK_HUBNAME": "IoFunctionsNotificationsFF",
    "AzureStorage": "DefaultEndpointsProtocol=https;AccountName=iomocktest;AccountKey=KepvkS29W5AwYJcidjVOXocSW8YzTRYEiJmzzTXiUzI5tlFYGpqp3BwMXNP7hN+5hkwOq/6dT3sdLX+i/UAewA==;EndpointSuffix=core.windows.net",
    "DURABLE_FUNCTION_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=iomocktest;AccountKey=KepvkS29W5AwYJcidjVOXocSW8YzTRYEiJmzzTXiUzI5tlFYGpqp3BwMXNP7hN+5hkwOq/6dT3sdLX+i/UAewA==;EndpointSuffix=core.windows.net",
    "INTERNAL_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=iomocktest;AccountKey=KepvkS29W5AwYJcidjVOXocSW8YzTRYEiJmzzTXiUzI5tlFYGpqp3BwMXNP7hN+5hkwOq/6dT3sdLX+i/UAewA==;EndpointSuffix=core.windows.net",
    "COSMOSDB_PORT": "3000",
    "API_GATEWAY_PORT": "80",
    "APPINSIGHTS_INSTRUMENTATIONKEY": "IDoNotKnow",
    "APPINSIGHTS_SAMPLING_PERCENTAGE": "20",
    "RETRY_ATTEMPT_NUMBER": "1",
    "NOTIFICATIONS_QUEUE_NAME": "push-notifications",
    "NOTIFICATIONS_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=iomocktest;AccountKey=KepvkS29W5AwYJcidjVOXocSW8YzTRYEiJmzzTXiUzI5tlFYGpqp3BwMXNP7hN+5hkwOq/6dT3sdLX+i/UAewA==;EndpointSuffix=core.windows.net",
    "NH_PARTITION_FEATURE_FLAG": "all",
    "BETA_USERS_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=iomocktest;AccountKey=KepvkS29W5AwYJcidjVOXocSW8YzTRYEiJmzzTXiUzI5tlFYGpqp3BwMXNP7hN+5hkwOq/6dT3sdLX+i/UAewA==;EndpointSuffix=core.windows.net",
    "BETA_USERS_TABLE_NAME": "nhpartitiontestusers",
    "CANARY_USERS_REGEX":"^([(0-9)|(a-f)|(A-F)]{63}0)$",
    "AZURE_NH_HUB_NAME": "io-p-ntf-sandbox",
    "AZURE_NH_ENDPOINT": "Endpoint=sb://io-p-ntfns-sandbox.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=5EKzNRp3SWOOp8ozRpG24UxowhZWFaJyIwmtjmO9vhg=",
    "NH1_ENDPOINT": "Endpoint=sb://io-p-ntfns-sandbox-partition-1.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=Y0vPLvPYE/n0eyVom7l9EH80HDcw2xiVZCx3ngFJ0AQ=",
    "NH1_NAME": "io-p-ntf-sandbox-partition-1",
    "NH1_PARTITION_REGEX":"^[ \"0-3]",
    "NH2_ENDPOINT": "Endpoint=sb://io-p-ntfns-sandbox-partition-1.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=Y0vPLvPYE/n0eyVom7l9EH80HDcw2xiVZCx3ngFJ0AQ=",
    "NH2_NAME": "io-p-ntf-sandbox-partition-1",
    "NH2_PARTITION_REGEX":"^[ \"4-7]",
    "NH3_ENDPOINT": "Endpoint=sb://io-p-ntfns-sandbox-partition-1.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=Y0vPLvPYE/n0eyVom7l9EH80HDcw2xiVZCx3ngFJ0AQ=",
    "NH3_NAME": "io-p-ntf-sandbox-partition-1",
    "NH3_PARTITION_REGEX":"^[ \"8-b]",
    "NH4_ENDPOINT": "Endpoint=sb://io-p-ntfns-sandbox-partition-1.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=Y0vPLvPYE/n0eyVom7l9EH80HDcw2xiVZCx3ngFJ0AQ=",
    "NH4_NAME": "io-p-ntf-sandbox-partition-1",
    "NH4_PARTITION_REGEX":"^[ \"c-f]",
    "NOTIFY_VIA_QUEUE_FEATURE_FLAG":"all",
    "NOTIFY_MESSAGE_QUEUE_NAME": "notify-queue-name",
    "NODE_TLS_REJECT_UNAUTHORIZED": "0",
    "AZURE_ENABLE_STRICT_SSL": "false"
  }
}
