{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=myaccount;AccountKey=mykey;EndpointSuffix=core.windows.net",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "aKey",
    "MESSAGE_CONTAINER_NAME": "messages",
    "COSMOSDB_NAME": "io-messages",
    "COSMOSDB_KEY": "cosmosDBKey",
    "COSMOSDB_URI": "https://io-d-itn-common-cosno-01.documents.azure.com:443/",
    "WEBHOOK_CHANNEL_URL": "https://domain.com",
    "MAIL_FROM": "IO - l’app dei servizi pubblici <no-reply@io.italia.it>",
    "TTL_FOR_USER_NOT_FOUND": 3600,
    "PAGOPA_ECOMMERCE_API_KEY": "apiKey",
    "PAGOPA_ECOMMERCE_BASE_URL": "anUrl",
    "SANDBOX_FISCAL_CODE": "AAAAAA00A00A000A",
    "MIN_APP_VERSION_WITH_READ_AUTH": "1.0.0",
    "APIM_SUBSCRIPTION_KEY": "aKey",
    "MESSAGE_CONTENT_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;",
    "IO_COM_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;",
    "MESSAGE_CREATED_QUEUE_NAME": "message-created",
    "MESSAGE_PROCESSED_QUEUE_NAME": "message-processed",
    "NOTIFICATION_CREATED_EMAIL_QUEUE_NAME": "notification-created",
    "NOTIFICATION_CREATED_WEBHOOK_QUEUE_NAME": "webhook-notification",
    "PROCESSING_MESSAGE_CONTAINER_NAME": "processing-message",
    "NOTIFY_API_URL": "http://localhost:7071",
    "NOTIFY_API_KEY": "apiKey",
    "NODE_ENV": "dev",
    "MAILHOG_HOSTNAME": "mailhog",
    "APIM_BASE_URL": "http://localhost",
    "FF_DISABLE_INCOMPLETE_SERVICES": "none"
  },
  "ConnectionStrings": {}
}
