{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "GCM_MIGRATION_CONTAINER_NAME": "container-name",
    "NH1_CONNECTION_STRING": "connString",
    "NH1_NAME": "name",
    "NH2_CONNECTION_STRING": "connString",
    "NH2_NAME": "name",
    "NH3_CONNECTION_STRING": "connString",
    "NH3_NAME": "name",
    "NH4_CONNECTION_STRING": "connString",
    "NH4_NAME": "name",
  }
}
