APPINSIGHTS_INSTRUMENTATIONKEY=foo
NODE_TLS_REJECT_UNAUTHORIZED=0 


COSMOSDB_URI=https://cosmosdb:3000/
COSMOSDB_KEY=dummykey
COSMOSDB_NAME=integrationtests

MAILHOG_HOSTNAME=mailhog
MAIL_FROM=mail@example.it
MESSAGE_CONTAINER_NAME=msg
NODE_ENV=dev
QueueStorageConnection=foobar
EventsQueueStorageConnection=foobar
REQ_SERVICE_ID=req_id_dev

SERVICE_TO_RC_CONFIGURATION_MAP='{"key": "value"}'

PN_SERVICE_ID=aServiceId

#-----------------------------------
# Feature Flags For Enabling View
#-----------------------------------
FF_TYPE=none
USE_FALLBACK=false
FF_BETA_TESTER_LIST=
FF_CANARY_USERS_REGEX=

