{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=http;AccountName=localst01;AccountKey=bG9jYWw=;BlobEndpoint=http://azurite:10000/localst01;QueueEndpoint=http://azurite:10001/localst01;",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "InstrumentationKey=testkey",
    "COSMOSDB_URI": "https://io-d-itn-common-cosno-01.documents.azure.com:443/",
    "COSMOSDB_NAME": "io-messages",
    "MESSAGE_CONTAINER_NAME": "messages",
    "MESSAGE_CONTENT_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=http;AccountName=localst01;AccountKey=bG9jYWw=;BlobEndpoint=http://azurite:10000/localst01;QueueEndpoint=http://azurite:10001/localst01;",
    "REMOTE_CONTENT_COSMOSDB_URI": "https://io-d-itn-common-cosno-01.documents.azure.com:443/",
    "REMOTE_CONTENT_COSMOSDB_NAME": "remote-content-cosmos-01",
    "PN_SERVICE_ID": "a-pn-id",
    "SERVICE_CACHE_TTL_DURATION": 6000,
    "SERVICE_TO_RC_CONFIGURATION_MAP": "{}",
    "USE_FALLBACK": "true",
    "REDIS_URL": "localhost",
    "REDIS_PASSWORD": "local",
    "REDIS_PORT": "6379",
    "REDIS_TLS_ENABLED": "false"
  }
}
