HOST="0.0.0.0"
NODE_ENV="development"
PORT=3000
COMMON_COSMOS_DATABASE_NAME="fip"
MESSAGE_METADATA_CONTAINER_NAME="messages"
MESSAGE_STATUS_CONTAINER_NAME="message-status"
MESSAGE_CONTENT_CONTAINER_NAME="message-content"
PN_SERVICE_ID="01JR0QRJ8MX1PD06DE6X5FWXS5"
COMMON_COSMOS_CONNECTION_STRING="AccountEndpoint=http://localhost:8081/;AccountKey=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw=="
COMMON_STORAGE_ACCOUNT_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://localhost:10000/devstoreaccount1;QueueEndpoint=http://localhost:10001/devstoreaccount1;TableEndpoint=http://localhost:10002/devstoreaccount1;"
