swagger: "2.0"
info:
  version: 5.5.10
  title: IO API for App
  contact:
    name: Digital Transformation Team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    # Warning

    **This is an experimental API that is (most probably) going to change as we
    evolve the IO platform.**

    # Introduction

    This is the documentation of the IO API for App.
host: api.cd.italia.it
basePath: /api/v1
schemes:
  - https
security:
  - SubscriptionKey: []
paths:
  /messages/{fiscal_code}:
    get:
      operationId: getMessagesByUser
      summary: GetMessages
      description: >-
        Returns the messages for the user identified by the provided fiscal
        code.

        Messages will be returned in inverse acceptance order (from last to
        first).

        The "next" field, when present, contains an URL pointing to the next
        page of results.
      tags:
        - restricted
      parameters:
        - $ref: "#/parameters/FiscalCode"
        - $ref: "#/parameters/PageSize"
        - $ref: "#/parameters/MaximumId"
        - $ref: "#/parameters/MinimumId"
        - $ref: "#/parameters/EnrichResultData"
        - $ref: "#/parameters/GetArchivedMessages"
      responses:
        "200":
          description: Found.
          schema:
            $ref: "#/definitions/PaginatedPublicMessagesCollection"
          examples:
            application/json:
              items:
                - id: 01BX9NSMKVXXS5PSP2FATZMYYY
                  fiscal_code: PUPFHK4TD3MWL20W
                  time_to_live: 3600
                  sender_service_id: 01BX9NSMKVXXS5PSP2FATZMZZZ
                  created_at: "2018-05-21T07:36:41.209Z"
                - id: 01BX9NSMKVXXS5PSP2FATZM123
                  fiscal_code: PKTINH4QDQUV696L
                  time_to_live: 3600
                  sender_service_id: 01BX9NSMKVXXS5PSP2FATZMWWW
                  created_at: "2018-05-21T07:36:41.209Z"
              next: 01BX9NSMKVXXS5PSP2FATZMWWW
              prev: 01BX9NSMKVXXS5PSP2FATZMWWW
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ProblemJson"
        "429":
          description: Too many requests
        "500":
          description: Internal Server error
  /messages/{fiscal_code}/{id}:
    get:
      operationId: getMessage
      summary: GetMessage
      description: |-
        The previously created message with the provided message ID is
        returned.
      tags:
        - public
        - restricted
      parameters:
        - $ref: "#/parameters/FiscalCode"
        - name: id
          in: path
          type: string
          required: true
          description: The ID of the message.
        - name: public_message
          in: query
          type: boolean
          description: Discriminate when to return public message shape. Default to false.
      responses:
        "200":
          description: Message found.
          schema:
            $ref: "#/definitions/InternalMessageResponseWithContent"
          examples:
            application/json:
              message:
                id: 01BX9NSMKAAAS5PSP2FATZM6BQ
                fiscal_code: QXJNTX9RCRVD6V4O
                time_to_live: 3600
                content:
                  subject: message subject, aliquip sint nulla in estinut
                  markdown: >-
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maecenas et mollis felis.

                    Vivamus orci nisl, commodo ut sodales ut, eleifend a libero.
                    Donec dapibus, turpis in mattis tempor,

                    risus nunc malesuada ex, non aliquet metus nunc a lacus.
                    Aenean in arcu vitae nisl porta

                    fermentum nec non nibh. Phasellus tortor tellus, semper in
                    metus eget, eleifend

                    laoreet nibh. Aenean feugiat lectus ut nisl eleifend
                    gravida.
                sender_service_id: 01BX9NSMKVXXS5PSP2FATZM6QX
        "404":
          description: No message found for the provided ID.
          schema:
            $ref: "#/definitions/ProblemJson"
        "429":
          description: Too many requests
        "500":
          description: Internal Server error
          $ref: "#/definitions/ProblemJson"
  /messages/{fiscal_code}/{id}/message-status:
    put:
      operationId: upsertMessageStatusAttributes
      summary: UpsertMessageStatusAttributes
      description: Updates the status of a message with attributes
      parameters:
        - $ref: "#/parameters/FiscalCode"
        - name: id
          in: path
          type: string
          required: true
          description: The ID of the message.
        - name: body
          in: body
          schema:
            $ref: "#/definitions/MessageStatusChange"
          required: true
          x-examples:
            application/json: |
              change_type: bulk,
              is_archived: true,
              is_read: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/MessageStatusWithAttributes"
          examples:
            application/json: |
              status: ACCEPTED,
              version: 1,
              updated_at: 2022-02-28T16:35:15.993Z,
              is_read: true,
              is_archived: false
        "401":
          description: Unauthorized
        "404":
          description: No message found for the provided ID.
          schema:
            $ref: "#/definitions/ProblemJson"
        "429":
          description: Too many requests
        "500":
          description: Internal Server error
          $ref: "#/definitions/ProblemJson"
  /remote-contents/configurations/{id}:
    get:
      operationId: getRCConfiguration
      summary: GetRCConfiguration
      description: Return the remote content configuration associated to the requested id.
      tags:
        - public
        - restricted
      parameters:
        - name: id
          in: path
          type: string
          required: true
          description: The ID of the remote content configuration.
      responses:
        "200":
          description: Remote content configuration found.
          schema:
            $ref: "#/definitions/RCConfigurationPublic"
          examples:
            application/json:
              user_id: aUserId
              configuration_id: 01HMRBX079WA5SGYBQP1A7FSKH
              name: aName
              description: a simple description
              has_precondition: ALWAYS
              disable_lollipop_for: []
              is_lollipop_enabled: false
              prod_environment:
                base_url: https://anydomain.anytld/api/v1/anyapi
                details_authentication:
                  header_key_name: X-Functions-Key
                  key: anykey
                  type: API_KEY
              test_environment:
                base_url: https://anytestdomain.anytld/api/v1/anyapi
                details_authentication:
                  header_key_name: X-Functions-Key
                  key: anykey
                  type: API_KEY
                test_users: []
        "401":
          description: Unauthorized
        "404":
          description: No message found for the provided ID.
          schema:
            $ref: "#/definitions/ProblemJson"
        "429":
          description: Too many requests
        "500":
          description: Internal Server error
          $ref: "#/definitions/ProblemJson"
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  SubscriptionKey:
    type: apiKey
    name: X-Functions-Key
    in: header
    description: The API key obtained through the developer portal.
parameters:
  FiscalCode:
    name: fiscal_code
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
    pattern: >-
      [A-Z]{6}[0-9LMNPQRSTUV]{2}[ABCDEHLMPRST][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]
    x-example: SPNDNL80R13C555X
  PaginationRequest:
    name: cursor
    in: query
    type: string
    minimum: 1
    description: An opaque identifier that points to the next item in the collection.
    x-example: 01BX9NSMKVXXS5PSP2FATZM123
  PageSize:
    type: integer
    name: page_size
    in: query
    minimum: 1
    maximum: 100
    description: How many items a page should include.
  MaximumId:
    type: string
    name: maximum_id
    in: query
    description: The maximum id to get messages until to.
  MinimumId:
    type: string
    name: minimum_id
    in: query
    description: The minimum id to get messages from.
  EnrichResultData:
    type: boolean
    name: enrich_result_data
    in: query
    description: Indicates whether result data should be enriched or not.
  GetArchivedMessages:
    type: boolean
    name: archived
    in: query
    description: Indicates whether to retrieve archived/not archived messages.
definitions:
  EUCovidCert:
    type: object
    description: Paylod with access token to retrieve a EU Covid Certificate
    properties:
      auth_code:
        type: string
    required:
      - auth_code
  PrescriptionData:
    type: object
    description: Metadata needed to process medical prescriptions.
    properties:
      nre:
        $ref: "#/definitions/PrescriptionNRE"
      iup:
        $ref: "#/definitions/PrescriptionIUP"
      prescriber_fiscal_code:
        $ref: "#/definitions/PrescriberFiscalCode"
    required:
      - nre
  PrescriptionNRE:
    description: >-
      The field *Numero ricetta elettronica* identifies the medical prescription
      at national level.
    type: string
    minLength: 15
    maxLength: 15
  PrescriptionIUP:
    description: >-
      The field *Identificativo Unico di Prescrizione* identifies the medical
      prescription at regional level.
    type: string
    minLength: 1
    maxLength: 16
  PrescriberFiscalCode:
    type: string
    description: Fiscal code of the Doctor that made the prescription.
    format: FiscalCode
    x-import: "@pagopa/ts-commons/lib/strings"
    example: TCNZRO80R13C555Y
  NewMessageContent:
    allOf:
      - $ref: "#/definitions/MessageContentBase"
      - type: object
        properties:
          payment_data:
            $ref: "#/definitions/PaymentDataWithRequiredPayee"
          due_date:
            $ref: "#/definitions/Timestamp"
          prescription_data:
            $ref: "#/definitions/PrescriptionData"
          eu_covid_cert:
            $ref: "#/definitions/EUCovidCert"
          third_party_data:
            $ref: "#/definitions/ThirdPartyData"
          legal_data:
            $ref: "#/definitions/LegalData"
  PaymentDataBase:
    type: object
    description: Metadata needed to process pagoPA payments.
    properties:
      amount:
        description: >-
          Amount of payment in euro cent. PagoPA accepts up to 9999999999 euro
          cents.
        type: integer
        minimum: 1
        maximum: 9999999999
      notice_number:
        description: >-
          The field "Numero Avviso" of pagoPa, needed to identify the payment.
          Format is `<aux digit(1n)>[<application code> (2n)]<codice IUV
          (15|17n)>`. See [pagoPa
          specs](https://docs.pagopa.it/saci/specifiche-attuative-dei-codici-identificativi-di-versamento-riversamento-e-rendicontazione/premessa)
          for more info on this field and the IUV.
        type: string
        pattern: ^[0123][0-9]{17}$
      invalid_after_due_date:
        type: boolean
        default: false
    required:
      - amount
      - notice_number
  EnrichedMessage:
    allOf:
      - type: object
        properties:
          id:
            type: string
          fiscal_code:
            $ref: "#/definitions/FiscalCode"
          time_to_live:
            $ref: "#/definitions/TimeToLiveSeconds"
          created_at:
            $ref: "#/definitions/Timestamp"
          sender_service_id:
            $ref: "#/definitions/ServiceId"
          service_name:
            type: string
          organization_name:
            type: string
          organization_fiscal_code:
            $ref: "#/definitions/OrganizationFiscalCode"
          message_title:
            type: string
          category:
            $ref: "#/definitions/MessageCategory"
          has_attachments:
            type: boolean
            default: false
          has_precondition:
            type: boolean
            default: false
        required:
          - id
          - fiscal_code
          - created_at
          - sender_service_id
          - service_name
          - organization_name
          - organization_fiscal_code
          - message_title
      - $ref: "#/definitions/MessageStatusAttributes"
  PublicMessage:
    x-one-of: true
    allOf:
      - $ref: "#/definitions/EnrichedMessage"
      - $ref: "#/definitions/CreatedMessageWithoutContent"
  PublicMessagesCollection:
    description: A collection of messages
    type: object
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/PublicMessage"
    required:
      - items
  PaginatedPublicMessagesCollection:
    description: A paginated collection of messages
    allOf:
      - $ref: "#/definitions/PublicMessagesCollection"
      - $ref: "#/definitions/PaginationResponse"
  ProblemJson:
    type: object
    properties:
      type:
        type: string
        format: uri
        description: |-
          An absolute URI that identifies the problem type. When dereferenced,
          it SHOULD provide human-readable documentation for the problem type
          (e.g., using HTML).
        default: about:blank
        example: https://example.com/problem/constraint-violation
      title:
        type: string
        description: |-
          A short, summary of the problem type. Written in english and readable
          for engineers (usually not suited for non technical stakeholders and
          not localized); example: Service Unavailable
      status:
        type: integer
        format: int32
        description: >-
          The HTTP status code generated by the origin server for this
          occurrence of the problem.
        minimum: 100
        maximum: 600
        exclusiveMaximum: true
        example: 200
      detail:
        type: string
        description: |-
          A human readable explanation specific to this occurrence of the
          problem.
        example: There was an error processing the request
      instance:
        type: string
        format: uri
        description: >-
          An absolute URI that identifies the specific occurrence of the
          problem.

          It may or may not yield further information if dereferenced.
  ServiceId:
    type: string
    description: |-
      The ID of the Service. Equals the subscriptionId of a registered
      API user.
    minLength: 1
  FiscalCode:
    type: string
    description: User's fiscal code.
    format: FiscalCode
    x-import: "@pagopa/ts-commons/lib/strings"
    example: SPNDNL80R13C555X
  TimeToLiveSeconds:
    type: integer
    default: 3600
    minimum: 3600
    maximum: 604800
    description: |-
      This parameter specifies for how long (in seconds) the system will
      try to deliver the message to the channels configured by the user.
    example: 3600
  Timestamp:
    type: string
    format: UTCISODateFromString
    description: A date-time field in ISO-8601 format and UTC timezone.
    x-import: "@pagopa/ts-commons/lib/dates"
    example: "2018-10-13T00:00:00.000Z"
  MessageContentBase:
    type: object
    properties:
      subject:
        $ref: "#/definitions/MessageSubject"
      markdown:
        $ref: "#/definitions/MessageBodyMarkdown"
      require_secure_channels:
        type: boolean
        description: When true, messages won't trigger email notifications (only push).
    required:
      - subject
      - markdown
  MessageSubject:
    type: string
    description: |-
      The subject of the message - note that only some notification
      channels support the display of a subject. When a subject is not provided,
      one gets generated from the client attributes.
    minLength: 10
    maxLength: 120
    example: Welcome new user !
  MessageBodyMarkdown:
    type: string
    description: |-
      The full version of the message, in plain text or Markdown format. The
      content of this field will be delivered to channels that don't have any
      limit in terms of content size (e.g. email, etc...).
    minLength: 80
    maxLength: 10000
    example: |-
      # This is a markdown header

      to show how easily markdown can be converted to **HTML**

      Remember: this has to be a long text.
  PaymentDataWithRequiredPayee:
    allOf:
      - $ref: "#/definitions/PaymentDataBase"
      - type: object
        properties:
          payee:
            $ref: "#/definitions/Payee"
        required:
          - payee
  OrganizationFiscalCode:
    type: string
    description: Organization fiscal code.
    format: OrganizationFiscalCode
    x-import: "@pagopa/ts-commons/lib/strings"
    example: "12345678901"
  CreatedMessageWithoutContent:
    type: object
    properties:
      id:
        type: string
      fiscal_code:
        $ref: "#/definitions/FiscalCode"
      time_to_live:
        $ref: "#/definitions/TimeToLiveSeconds"
      created_at:
        $ref: "#/definitions/Timestamp"
      sender_service_id:
        $ref: "#/definitions/ServiceId"
    required:
      - id
      - fiscal_code
      - created_at
      - sender_service_id
  CreatedMessageWithContent:
    type: object
    properties:
      id:
        type: string
      fiscal_code:
        $ref: "#/definitions/FiscalCode"
      time_to_live:
        $ref: "#/definitions/TimeToLiveSeconds"
      created_at:
        $ref: "#/definitions/Timestamp"
      content:
        $ref: "#/definitions/NewMessageContent"
      sender_service_id:
        $ref: "#/definitions/ServiceId"
    required:
      - id
      - fiscal_code
      - created_at
      - content
      - sender_service_id
  MessageStatusValue:
    x-one-of: true
    allOf:
      - $ref: "#/definitions/RejectedMessageStatusValue"
      - $ref: "#/definitions/NotRejectedMessageStatusValue"
    description: >-
      The processing status of a message.

      "ACCEPTED": the message has been accepted and will be processed for
      delivery;
        we'll try to store its content in the user's inbox and notify him on his preferred channels
      "THROTTLED": a temporary failure caused a retry during the message
      processing;
        any notification associated with this message will be delayed for a maximum of 7 days
      "FAILED": a permanent failure caused the process to exit with an error, no
      notification will be sent for this message

      "PROCESSED": the message was succesfully processed and is now stored in
      the user's inbox;
        we'll try to send a notification for each of the selected channels
      "REJECTED": either the recipient does not exist, or the sender has been
      blocked
  PaginationResponse:
    type: object
    description: Pagination response parameters.
    properties:
      prev:
        type: string
        description: Contains a value useful to get the previous page
        example: first_id_of_the_page
      next:
        type: string
        description: Contains a value useful to get the next page
        example: last_id_of_the_page
  Payee:
    type: object
    description: Metadata needed to explicit payment's payee.
    properties:
      fiscal_code:
        $ref: "#/definitions/OrganizationFiscalCode"
    required:
      - fiscal_code
  MessageCategory:
    x-one-of: true
    allOf:
      - $ref: "#/definitions/MessageCategoryPayment"
      - $ref: "#/definitions/MessageCategoryBase"
      - $ref: "#/definitions/MessageCategoryPN"
  LegalData:
    type: object
    properties:
      sender_mail_from:
        type: string
        minLength: 1
      has_attachment:
        type: boolean
        default: false
      message_unique_id:
        type: string
        minLength: 1
      original_message_url:
        type: string
        minLength: 1
      pec_server_service_id:
        $ref: "#/definitions/ServiceId"
    required:
      - sender_mail_from
      - has_attachment
      - message_unique_id
  MessageCategoryBase:
    type: object
    properties:
      tag:
        type: string
        enum:
          - LEGAL_MESSAGE
          - EU_COVID_CERT
          - GENERIC
    required:
      - tag
  MessageCategoryPayment:
    type: object
    properties:
      tag:
        type: string
        enum:
          - PAYMENT
      rptId:
        type: string
    required:
      - tag
      - rptId
  MessageCategoryPN:
    allOf:
      - $ref: "#/definitions/ThirdPartyData"
      - type: object
        properties:
          tag:
            type: string
            enum:
              - PN
        required:
          - tag
  MessageStatus:
    type: object
    properties:
      status:
        $ref: "#/definitions/MessageStatusValue"
      updated_at:
        $ref: "#/definitions/Timestamp"
      version:
        type: integer
    required:
      - status
      - updated_at
  MessageStatusAttributes:
    type: object
    properties:
      is_read:
        type: boolean
        default: false
      is_archived:
        type: boolean
        default: false
    required:
      - is_read
      - is_archived
  MessageStatusWithAttributes:
    allOf:
      - $ref: "#/definitions/MessageStatus"
      - $ref: "#/definitions/MessageStatusAttributes"
  MessageStatusReadingChange:
    type: object
    properties:
      change_type:
        type: string
        enum:
          - reading
      is_read:
        type: boolean
        enum:
          - true
    required:
      - change_type
      - is_read
  MessageStatusArchivingChange:
    type: object
    properties:
      change_type:
        type: string
        enum:
          - archiving
      is_archived:
        type: boolean
    required:
      - change_type
      - is_archived
  MessageStatusBulkChange:
    type: object
    properties:
      change_type:
        type: string
        enum:
          - bulk
      is_archived:
        type: boolean
      is_read:
        type: boolean
        enum:
          - true
    required:
      - change_type
      - is_archived
  MessageStatusChange:
    x-one-of: true
    allOf:
      - $ref: "#/definitions/MessageStatusReadingChange"
      - $ref: "#/definitions/MessageStatusArchivingChange"
      - $ref: "#/definitions/MessageStatusBulkChange"
  CreatedMessageWithContentAndEnrichedData:
    allOf:
      - $ref: "#/definitions/CreatedMessageWithContent"
      - $ref: "#/definitions/EnrichedMessage"
  CreatedMessageWithContentResponse:
    x-one-of: true
    allOf:
      - $ref: "#/definitions/CreatedMessageWithContent"
      - $ref: "#/definitions/CreatedMessageWithContentAndEnrichedData"
  InternalMessageResponseWithContent:
    type: object
    properties:
      message:
        $ref: "#/definitions/CreatedMessageWithContentResponse"
      status:
        $ref: "#/definitions/MessageStatusValue"
    required:
      - message
  RCConfigurationPublic:
    allOf:
      - $ref: "#/definitions/RCConfigurationBase"
      - $ref: "#/definitions/RCConfigurationEnvironment"
  RCConfigurationBase:
    allOf:
      - $ref: "#/definitions/NewRCConfigurationBase"
      - type: object
        properties:
          configuration_id:
            type: string
            description: Ulid string.
            format: Ulid
            x-import: "@pagopa/ts-commons/lib/strings"
            example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
        required:
          - configuration_id
  NewRCConfigurationBase:
    type: object
    properties:
      name:
        type: string
        minLength: 1
        description: Configuration name.
      description:
        type: string
        minLength: 1
        description: Configuration description.
      has_precondition:
        $ref: "#/definitions/HasPrecondition"
      disable_lollipop_for:
        type: array
        items:
          $ref: "#/definitions/FiscalCode"
      is_lollipop_enabled:
        type: boolean
        description: Flag to check if lollipop is enabled
    required:
      - name
      - description
      - has_precondition
      - disable_lollipop_for
      - is_lollipop_enabled
  RCConfigurationEnvironment:
    type: object
    properties:
      test_environment:
        $ref: "#/definitions/RCConfigurationTestEnvironment"
      prod_environment:
        $ref: "#/definitions/RCConfigurationProdEnvironment"
  RCConfigurationProdEnvironment:
    type: object
    properties:
      base_url:
        type: string
        minLength: 1
        description: Base url of the server.
      details_authentication:
        $ref: "#/definitions/RCAuthenticationConfig"
    required:
      - base_url
      - details_authentication
  RCConfigurationTestEnvironment:
    allOf:
      - $ref: "#/definitions/RCConfigurationProdEnvironment"
      - type: object
        properties:
          test_users:
            type: array
            items:
              $ref: "#/definitions/FiscalCode"
        required:
          - test_users
  RCAuthenticationConfig:
    type: object
    properties:
      header_key_name:
        type: string
        minLength: 1
        description: header key name
      key:
        type: string
        minLength: 1
        description: authentication config key
      type:
        type: string
        minLength: 1
        description: authentication config type
      cert:
        $ref: "#/definitions/RCClientCert"
    required:
      - header_key_name
      - key
      - type
  RCClientCert:
    type: object
    properties:
      client_cert:
        type: string
        minLength: 1
        description: authentication config client cert
      client_key:
        type: string
        minLength: 1
        description: authentication config client key
      server_ca:
        type: string
        minLength: 1
        description: authentication config server ca
    required:
      - client_cert
      - client_key
      - server_ca
  HasPrecondition:
    type: string
    x-extensible-enum:
      - ALWAYS
      - ONCE
      - NEVER
  ThirdPartyData:
    type: object
    description: >-
      Payload containing all information needed to retrieve and visualize third
      party message details
    properties:
      id:
        type: string
        description: >-
          Unique id for retrieving third party enriched information about the
          message
        minLength: 1
      original_sender:
        type: string
        description: Either a ServiceId or a simple string representing the sender name
        minLength: 1
      original_receipt_date:
        $ref: "#/definitions/Timestamp"
      has_attachments:
        type: boolean
        default: false
      has_remote_content:
        type: boolean
        default: false
      has_precondition:
        $ref: "#/definitions/HasPrecondition"
      summary:
        type: string
        minLength: 1
      configuration_id:
        type: string
        description: Ulid string.
        format: Ulid
        x-import: "@pagopa/ts-commons/lib/strings"
        example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
    required:
      - id
  NotRejectedMessageStatusValue:
    type: string
    x-extensible-enum:
      - ACCEPTED
      - THROTTLED
      - FAILED
      - PROCESSED
  RejectedMessageStatusValue:
    type: string
    x-extensible-enum:
      - REJECTED
