{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "COSMOS_URI":"https://io-d-itn-common-cosno-01.documents.azure.com:443/",
    "COSMOS_KEY":cosmos_key"
    "COSMOS_DATABASE_NAME": "io-messages",
    "COMMON_STORAGE_ACCOUNT_CONNECTION_STRING":"",
    "STORAGE_ACCOUNT_DELETE_MESSAGES_PATH":"delete-messages/{name}"
  }
}
